<div class="relative overflow-x-auto shadow-md rounded-lg my-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs text-gray-400 uppercase bg-gray-700">
            <tr>
                {% for head in heading %}
                <th scope="col" class="px-6 py-3">{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="odd:bg-gray-900 even:bg-gray-800 border-b border-gray-700">
                {% for item in row %}
                <td class="px-6 py-4">{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
